html {
  position: relative;
  min-height: 100%;
}
/*media all*/
body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.4285;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.page-wrapper {
  margin: 80px 0 30px 0;
}

footer > .container {
  width: 100%;
  margin: 20px 0 0 0;
}

.home > .jumbotron, .profile > .jumbotron {
  background: lightgrey;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  background-position:center center;
}

.home > .jumbotron div.login {
  margin: 50px 0 0 0;
}

.home > #profile-list img {
  width: 100px;
}

/* Profile */
.profile .jumbotron img {
  width: 400px;
}

.profile .social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile em {
  font-weight: 200;
  font-style: normal;
}

.tr-link {
  cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}