<% include ../../views/partials/header %>

<div class="container home">
  <div class="jumbotron">
    <img src="img/<%= profile.photo %>">
    <h2><%= profile.name %></h2>
  </div>
</div>
<script>
  $(document).ready(() => {
  });
</script>

<% include ../../views/partials/footer %>
