<% include ../../views/partials/header %>

<div class="container profile">
  <div class="jumbotron">
    <h2><%= profile.name %></h2>
    <img src="<%= profile.photo %>">
  </div>
</div>
<script>
  $(document).ready(() => {
  });
</script>

<% include ../../views/partials/footer %>
