<%- include('../views/partials/header.ejs', {bodyCss: 'login'}) %>

  <div class="container page">
    <div class="row">
      <div class="headline container">
        <h2>We Reunite Families</h2>
      </div>
    </div>

    <div class="row" style="margin-bottom:100px">
      <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
          <div class="form-top-left">
            <img src="img/mcsc-logo.png">
          </div>
          <div class="form-top-right">
            <i class="fa fa-lock"></i>
          </div>
        </div>
        <div class="form-bottom">
          <div class="row">
            <div class="col social-login" style="text-align:center">
              <div class="social-login-buttons">
                <a class="btn btn-link-2" href="/login/aad">
                  <i class="fa fa-sign-in"></i> Login
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<% include ../views/partials/footer %>

